<div class="half">
    <wired-card elevation="3">
        <h3>Chords: Anonymous communication channels</h3>
        <p>This service allows you to configure a link that other users will use to send you a message using predefined list of contacts. The contacts would not be shared with requestor.</p>
      </wired-card>
      <wired-card elevation="3" fill="lightcoral" class="important">
          <h3>Important note</h3>
          <p>This is a <strong>pet project</strong>. By using this application, <strong>end user</strong> aggrees that he <strong>understands and accepts following risks</strong>:</p>
          <ul>
                <li>Application can stop working at any time - don't use this app for emergency notifications</li>
                <li>Someone can steal the data - application connects targets to chords and chords to user. Application remembers google account identifier, so chances are that it will be possible to map emails/phones with google account</li>
            </ul>
      </wired-card>
</div>
<div class="half">
    <wired-card elevation="3">
        <h3>How it works</h3>
        <p>The application provides different user expirience for users who want to send a message and for users who want to receive messages</p>
        <h4>I want to send the message</h4>
        <p>In order to send the message you need to know unique <strong>chord URL</strong>. 
           Just open it in the browser, and application will give you a simple submission form. You don't need to be authenticated to send messages.</p>
        <h4>I want to receive messages</h4>
        <p>In order to receive messages you need to log in using Google Authentication and setup the chord in the "Chords" section.
        You will be able to setup the default notification text and one or many targets: emails or cell phone numbers.
        Application will give you unique <strong>chord URL</strong> associated with a particular cord. 
        Application keeps target details in internal database and will not share it with senders.
        </p>
    </wired-card>
    
</div>